[submodule "keyboards/qmk"]
	path = keyboards/qmk
	url = https://github.com/XavierChanth/qmk_userspace
[submodule "keyboards/qmk_firmware"]
	path = keyboards/qmk_firmware
	url = https://github.com/xavierchanth/qmk_firmware
