[submodule "keyboards/qmk"]
	path = keyboards/qmk
	url = https://github.com/XavierChanth/qmk_userspace
[submodule "keyboards/zsa_firmware"]
	path = keyboards/zsa_firmware
	url = https://github.com/zsa/qmk_firmware
[submodule "keyboards/qmk_firmware"]
	path = keyboards/qmk_firmware
	url = https://github.com/zsa/qmk_firmware
